<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

        <link rel="stylesheet" type="text/css" href="css/main.css"/>
    </div>

</head>
<body>

<div th:fragment="header">
    <!-- this is header -->

    <tr>
        <td sec:authorize="isAnonymous()">
            <a href="/user/login" th:href="@{/user/login}" class="btn-login">Zaloguj</a>
        </td>
        <td sec:authorize="isAnonymous()">
            <a href="/user/register" th:href="@{/user/register}" class="btn-login">Zarejestruj</a>
        </td>
        <td class="active"><a th:href="@{/}">Strona glowna</a></td>
        <td class="active"><a th:href="@{/user/listall}">Pokaz wszystkich uzytkownikow</a></td>

        <td class="active"><a th:href="@{/forum/}">Forum</a></td>
        <td sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" style="display: inline;" method="post"><input type="submit" value="Wyloguj"/></form>
        </td>
        <br/> <td class="active" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/user/admin}">Admin panel</a></td>

    </tr><br/><br/><br/>
</div>

</body>
</html>