<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Disable user</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/user/admin/disable}" method="POST">
        <div><label> User Name : <input type="text" name="user_name"/> </label></div>
        <div><input type="submit" value="Zablokuj go!"/>    </div>
    </form>
</div>
</body>
</html>