<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<!-- Show login link only for anonymous users -->
<div sec:authorize="isAuthenticated()">
<h1 th:inline="text">Hej [[${#httpServletRequest.remoteUser}]]! To jest strona główna!!</h1>
</div>
<div sec:authorize="isAnonymous()">
<h1 style="color: green">Hej gościu! To jest strona główna!!</h1>
</div>
</body>
</html>