<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>List all</title>

    <style>table, tr, td {
        border: 1px solid black;
    }</style>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<table style="width: auto">
    <tr><td>Id:</td><td>Nazwa użytkownika:</td><td>Haslo użytkownika:</td><td sec:authorize="hasAuthority('ROLE_ADMIN')">Zablokuj użytkownika:</td></tr>
    <tr th:each="user : ${allusers}">
        <td th:text="${user.user_id}"></td>
        <td th:text="${user.user_name}"></td>
        <td th:text="${user.user_password}"></td>
        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
            <form action="/user/admin/disable" method="POST"> <td>
                <input type="hidden" th:name="user_name" th:value="${user.user_name}"/>
                <center><button type="submit">Zablokuj</button></center>
            </td></form>
        </div>

    </tr>
</table>
</body>
</html>